/* Menú menu-header */

nav.menu-header {
   justify-content: center;

   ul {
      display: flex;
      flex-direction: column;

      @include mq( medium ) {
         flex-direction: row;
      }

      li {
         display: flex;
         flex-direction: column;
         position: relative;

         @include mq( medium ) {
            display: flex;
            flex: 1 1 100%;
            position: relative;
         }

         ul {
            background-color: orange;
            display: none;
            left: -.8em;
            position: relative;
            top: 1em;
            width: calc( 100% + 1.6em );

            @include mq( medium ) {
               background-color: orange;
               display: none;
               left: 0;
               position: absolute;
               top: 100%;
            }
         }

         &:hover ul {
            display: flex;
            flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */

            @include mq( medium ) {
               display: flex;
               flex-direction: column;
               width: 100%;
            }
         }
      }
   }
}