/* Menú menu-header */

.main-menu {
   border-top: 3px solid $color__light-gray;
}

nav.menu-header {
   justify-content: center;

   ul {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      width: 100%;

      @include mq( medium ) {
         flex-direction: row;
      }

      li {
         background-color: $color__green;
         display: flex;
         flex-direction: column;
         padding: 0;
         position: relative;

         @include mq( medium ) {
            background-color: transparent;
            flex: 1 1 100%;
            padding: 20px;
         }

         ul {
            background-color: orange;
            display: none;
            left: -.8em;
            position: relative;
            top: 1em;
            width: calc( 100% + 1.6em );

            @include mq( medium ) {
               left: 0;
               position: absolute;
               top: 100%;
            }
         }

         &:hover {
            background-color: lighten( $color: $color__green, $amount: 10 );

            @include mq( medium ) {
               background-color: transparent;
               border-bottom: .5rem solid lighten( $color: $color__red, $amount: 20 );
            }

            ul {
               display: flex;
               flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */
   
               @include mq( medium ) {
                  width: 100%;
               }
            }
         }
         
         &.current_page_item {
            border-bottom: .5rem solid $color__red;
         }

         a {
            font-size: 2rem;
            padding: 7px;

            @include mq( medium ) {
               color: $color__black;
               padding: 0;
            }

            &:hover {
               color: $color__orange;

               @include mq( medium ) {
                  color: lighten( $color: $color__black, $amount: 5 );
               }

            }

         }
      }
   }
}