/** Corporate colors */
$color__red: #A61206;
$color__orange: #F19F30;
$color__green: #124727;

/** Colors */
$color__white: #FFFFFF;
$color__black: #000000;
$color__light-gray: #C1C1C1;

/** Buttons */
$buttons: (
    primary:   ( $color__orange, $color__white ),
    secondary: ( $color__green, $color__white ),
    error:     ( $color__red, $color__white )
);
